div.links {
		width: 30%; float: left; height:100%;border:5px solid green; margin-right: 5px; background: url (vinilo.gif);
		}
div.iframe {
     width: 50%; height: 100%; aling: right; border 10px;
    }


